body {
    display: flex;
    justify-content: center;
}

.general {
    width: 600px;
}

.widgets {
    width: 600px;
    height: 250px;
    background: #246abb;
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.middle {
    width: 190px;
    height: 220px;
    background: #18467b;
}

.contact {
    width: 600px;
    height: 500px;
    background: #246abb;
    margin-bottom: 50px;
}